body {
    overflow-y: hidden;
}

.container {
    max-width: 1344px;
    margin: 0 auto;
}

nav {
    margin-top: 35px;
}

a {
    border: #2962ff solid 3px;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
}

section {
    width: 100%;
}

.lmLogo {
    border: none;
    margin: 10px;
}

img {
    height: 35px;
}

span {
    float: right;
}

a.portfolio {
    border: none;
    color: #3b414c;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
}

a.portfolio:hover {
    color: #2962ff;
    cursor: pointer;
}

a.hello {
    color: #2962ff;
    font-family: 'Open Sans', sans-serif;
}

a.hello:hover {
    background-color: #2962ff;
    color: white;
    cursor: pointer;
}

.welcome {
    text-align: center;
    /* height: 60vh; */
    padding: 20vh 0 30vh 0;
    vertical-align: middle;
    
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 40px;
    color: #3b414c;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #3b414c;
}

.aboutMe {
    background-color: #2962ff;
    width: 100% !important;
    height: 35vh;
}

h3 {
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
    color: white;
    padding: 40px 0 20px 0;
    text-align: center;


}

p {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 45vw;
    margin: 0 auto;
}



